*.txt
!requirements.txt
*.pyc
*.csv
*.xlsx
*.png
*.jpeg
*.db
*.pkl
!!modeling/xgboost_20210528203348828936/models/model.pkl
*.dot
*.DS_Store
.idea/
__pycache__/
venv/
scratch.py
scratch/
create_ml_project_structure.sh