--trusted-host data-science-helpers.s3-website-us-west-2.amazonaws.com
--find-links http://data-science-helpers.s3-website-us-west-2.amazonaws.com/data_science_helpers/
data-science-helpers==0.0.1
pandas==1.2.2
joblib==1.0.1
tqdm==4.59.0
scikit-learn==0.24.1
xgboost==1.1.0
hyperopt==0.2.4
tune-sklearn==0.2.1
matplotlib==3.2.0
lightgbm==2.3.1
shap==0.35.0
alibi==0.5.6
PyALE==1.1.0
yagmail==0.14.256