--trusted-host private-package-url
--find-links private-package-url
private-package-name==0.0.1
yagmail==0.14.256
pandas==1.2.2
numpy==1.20.1
joblib==1.0.1
tqdm==4.59.0
scikit-learn==0.24.1
xgboost==1.1.1
hyperopt==0.2.4
tune-sklearn==0.2.1
matplotlib==3.2.0
lightgbm==2.3.1
shap==0.36.0
PyALE==1.1.0
pytest==6.2.2